@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a {
    color: #191919;
    text-decoration: none;
}

body {
    font-family: 'S-CoreDream-3Light';
    font-size: 16px;
    line-height: 26px;
    color: #191919;
    background-color: #eee;
}

/*body scroll custom*/
body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-thumb {
    height: 25%;
    background: #cb1019;
    background-clip: padding-box;
    border-radius: 50px;
}

body::-webkit-scrollbar-track {
    background: #0e275e;
    /*스크롤바 뒷 배경 색상*/
}

*[class] {
    box-sizing: border-box;
}

/*s coredream 폰트*/
@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*이사만루체*/
@font-face {
    font-family: 'GongGothicMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*header*/
.header {
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    background-color: #fff;
}

.menu_btn {
    text-align: left;
    margin-left: 20px;
}

.menu_btn img {
    padding-top: 12px;
}

.header img {
    display: block;
    float: left;
}

.world_btn img {
    margin-left: 15px;
    padding-top: 7px;
}

/*header_btn 끝*/
.menu_bg {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    display: none;
    z-index: 4;
}

.sidebar_menu {
    display: none;
    height: 100%;
    background: #0e275e;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 5;
    overflow: auto;
    box-sizing: border-box;
}

.close_btn {
    width: 25px;
    height: 25px;
    margin: 20px;
}

.close_btn>a {
    display: block;
    width: 100%;
    height: 100%;
}

.menu_wrap {
    width: 100%;
    box-sizing: border-box;
}

.menu_wrap li {
    padding: 15px 0;
    margin: 0 20px;
    border-bottom: 1px solid #eee;
}

.menu_logo a img {
    display: block;
    max-width: 90%;
}

.menu_wrap li a {
    display: block;
    color: #fcc816;
    font-weight: bold;
    font-size: 18px;
}

.menu_wrap li a:hover {
    color: #cb1019;
}

/*어트랙션/테마*/
.sub_menu ul {
    margin: 10px 0 5px;
}

.sub_menu li {
    width: 100%;
    border: none;
    margin: 0;
    padding: 10px 0 0 10px;
}

.sub_menu li a {
    display: block;
    font-weight: 200;
    font-size: 16px;
}

.sub_menu li a img {
    display: block;
    float: left;
    padding-right: 5px;
}

.sub_menu li a:hover {
    padding-left: 10px;
    font-weight: bold;
}

/*pc*/
@media (min-width:1000px) {
    .menu_bg {
        background: rgba(0, 0, 0, 0.5);
    }

    .sidebar_menu {
        width: 30%;
    }

    .sidebar_menu::-webkit-scrollbar {
        width: 3px;
    }

    .sidebar_menu::-webkit-scrollbar-thumb {
        height: 10%;
        background: #cb1019;
        background-clip: padding-box;
        border-radius: 50px;
    }

    .sidebar_menu::-webkit-scrollbar-track {
        background: #eae8fe;
        /*스크롤바 뒷 배경 색상*/
    }
}

/*tablet*/
@media (min-width:700px) and (max-width:999px) {
    .menu_bg {
        background: rgba(0, 0, 0, 0.5);
    }

    .sidebar_menu {
        width: 50%;
    }

    .sidebar_menu::-webkit-scrollbar {
        width: 3px;
    }

    .sidebar_menu::-webkit-scrollbar-thumb {
        height: 50%;
        background: #cb1019;
        background-clip: padding-box;
        border-radius: 50px;
    }

    .sidebar_menu::-webkit-scrollbar-track {
        background: #eae8fe;
    }
}

/*mobile*/
@media (max-width:699px) {
    .sidebar_menu {
        width: 100%;
    }
}

/*header 끝*/

/*우측 slide */
#slide_wrap {
    position: fixed;
    top: 30%;
    right: 0;
    text-align: center;
    z-index: 3;
}

.flip {
    float: left;
    box-sizing: border-box;
    background: #fcc816;
    cursor: pointer;
    font-weight: bold;
    color: #0e275e;
    box-sizing: border-box;
    border-radius: 5px 0 0 5px;
}

.panel {
    float: left;
    box-sizing: border-box;
    background: #fff;
}

.panel ul {
    height: 100%;
}

.panel ul li {
    width: 100%;
    float: left;
    height: 20%;
}

.panel ul li a {
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
    border: 1px solid #fcc816;
}

.panel ul li a:hover {
    background-color: #0e275e;
    color: #fcc816;
    font-weight: bold;
    border: none;
}

/*우측 slide 반응형*/

/*pc*/
@media (min-width:1000px) {
    #slide_wrap {
        height: 350px;
    }

    .flip {
        width: 50px;
        height: 350px;
        padding-top: 100px;
        font-size: 18px;
    }

    .panel {
        width: 150px;
        height: 350px;
    }

    .panel ul li a {
        padding: 10px 0;
    }
}


/*tablet*/
@media (min-width:700px) and (max-width:999px) {
    #slide_wrap {
        height: 300px;
    }

    .flip {
        width: 40px;
        height: 300px;
        padding-top: 75px;
        font-size: 16px;
    }

    .panel {
        width: 150px;
        height: 300px;
        font-size: 14px;
    }

    .panel ul li a {
        padding: 5px 0;
    }
}


/*mobile*/
@media (max-width:699px) {
    #slide_wrap {
        height: 300px;
    }

    .flip {
        width: 40px;
        height: 200px;
        padding-top: 22px;
        font-size: 16px;
    }

    .panel {
        width: 150px;
        height: 300px;
        font-size: 14px;
    }

    .panel ul li a {
        padding: 5px 0;
    }
}

/*banner*/
.swiper {
    width: 100%;
}

.swiper-slide {
    text-align: center;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.swiper-slide a {
    display: block;
}

.banner_name {
    width: 100%;
    background-color: #191919;
    color: #fff;
    font-family: 'GongGothicMedium';
}

:root {
    --swiper-navigation-size: 30px;
    --swiper-theme-color: #fff !important;
}

/*banner*/
/*pc*/
@media (min-width:1000px) {
    .banner_name {
        font-size: 25px;
        padding: 15px 0 40px;
    }
}


/*tablet*/
@media (min-width:700px) and (max-width:999px) {
    .banner_name {
        font-size: 20px;
        padding: 15px 0 30px;
    }
}


/*mobile*/
@media (max-width:699px) {
    .banner_name {
        font-size: 18px;
        padding: 10px 0 25px;
    }
}

/*티켓 리스트 section1*/
#section1 {
    overflow: hidden;
    box-sizing: border-box;
}

#section1 h2 {
    font-family: 'GongGothicMedium';
    font-weight: bold;
    border-bottom: 2px solid #fff;
}

#section1 ul {
    width: 100%;
}

#section1 ul li {
    float: left;
    width: 20%;
    box-sizing: border-box;
}

#section1 ul li a {
    width: 100%;
    text-align: center;
    display: block;
    font-weight: bold;
}

#section1 ul li a:hover {
    border-radius: 10px;
    background-color: #0e275e;
    color: #fcc816;
}

/*티켓 리스트 section1*/
/*pc*/
@media (min-width:1000px) {
    #section1 {
        max-width: 1320px;
        margin: 50px auto;
        margin-bottom: 50px;
    }

    #section1 h2 {
        padding-bottom: 15px;
        margin-bottom: 15px;
        font-size: 24px;
    }

    #section1 ul li a {
        padding: 10px 0;
    }
}


/*tablet*/
@media (min-width:700px) and (max-width:999px) {
    #section1 {
        width: 100%;
        padding: 0 10px;
        margin: 30px 0;
    }

    #section1 h2 {
        padding-bottom: 13px;
        font-size: 22px;
    }

    #section1 ul li a {
        font-size: 14px;
        padding: 10px 0;
    }
}


/*mobile*/
@media (max-width:699px) {
    #section1 {
        width: 100%;
        padding: 0 5px;
        margin: 20px 0;
    }

    #section1 h2 {
        padding-bottom: 10px;
        font-size: 20px;
        border-bottom: none;
    }

    #section1 ul li a {
        font-size: 12px;
        padding: 10px 0;
        line-height: 19px;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
    }
}

/*container2 기본권*/
#container2 {
    margin: 0 auto;
    overflow: hidden;
}

#container2 h2 {
    font-family: 'GongGothicMedium';
    font-weight: bold;
}

#container2 ul {
    width: 100%;
}

#container2 ul li {
    float: left;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 10px;
}

.ticket_a img {
    display: block;
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.ticket_now a {
    width: 100%;
    display: block;
    text-align: center;
    border-radius: 8px;
    border: 1px solid #fcc816;
}

.ticket_now a:hover {
    background-color: #fcc816;
    color: #cb1019;
    font-weight: bold;
}

/*pc*/
@media (min-width:1000px) {
    #container2 {
        max-width: 1320px;
        margin-top: 100px;
    }

    #container2 h2 {
        padding-bottom: 24px;
    }

    #container2 ul li {
        width: 30%;
        margin-right: 5%;
        margin-bottom: 50px;
    }

    #container2 ul li:nth-child(3),#container2 ul li:nth-child(6) {
        margin-right: 0;
    }

    .ticket_b {
        padding: 20px;
    }

    .ticket_b h3 {
        padding-bottom: 10px;
    }

    .ticket_b p {
        font-size: 14px;
    }

    .ticket_b p span {
        font-size: 12px;
    }

    .ticket_now {
        padding: 0 20px;
    }

    .ticket_now a {
        padding: 10px 0;
        margin-bottom: 20px;
    }
}


/*tablet*/
@media (min-width:700px) and (max-width:999px) {
    #container2 {
        width: 100%;
        padding: 0 10px;
        box-sizing: border-box;
        margin-top: 60px;
    }

    #container2 h2 {
        font-size: 22px;
        padding-bottom: 20px;
    }

    #container2 ul li {
        width: 32%;
        margin-right: 2%;
        margin-bottom: 40px;
    }

    #container2 ul li:nth-child(3),#container2 ul li:nth-child(6) {
        margin-right: 0;
    }

    .ticket_b {
        padding: 15px;
    }

    .ticket_b h3 {
        font-size: 15px;
        padding-bottom: 10px;
    }

    .ticket_b p {
        font-size: 12px;
        line-height: 19px;
    }

    .ticket_b p span {
        font-size: 10px;
        padding-top: 5px;
    }

    .ticket_now {
        padding: 0 10px;
    }

    .ticket_now a {
        padding: 8px 0;
        margin-bottom: 15px;
        font-size: 14px;
    }
}


/*mobile*/
@media (max-width:699px) {
    #container2 {
        width: 100%;
        padding: 0 5px;
        box-sizing: border-box;
        margin-top: 40px;
    }

    #container2 h2 {
        font-size: 20px;
        padding-bottom: 15px;
    }

    #container2 ul li {
        width: 49%;
        margin-right: 2%;
        margin-bottom: 25px;
    }

    #container2 ul li:nth-child(2),
    #container2 ul li:nth-child(4),#container2 ul li:nth-child(6) {
        margin-right: 0;
    }

    .ticket_b {
        padding: 10px;
    }

    .ticket_b h3 {
        font-size: 13px;
        padding-bottom: 10px;
    }

    .ticket_b p {
        font-size: 10px;
        line-height: 17px;
    }

    .ticket_b p span {
        font-size: 10px;
        padding-top: 5px;
    }

    .ticket_now {
        padding: 0 10px;
    }

    .ticket_now a {
        padding: 5px 0;
        margin-bottom: 15px;
        font-size: 13px;
    }
}

/*container2 기본권 끝*/

/*container3 birthday*/
#container3 {
    overflow: hidden;
    margin: 0 auto;
    box-sizing: border-box;
}

#container3 h2 {
    font-family: 'GongGothicMedium';
    font-weight: bold;
}

#container3 ul {
    width: 100%;
}

#container3 ul li {
    float: left;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 10px;
}

/*pc*/
@media (min-width:1000px) {
    #container3 {
        max-width: 1320px;
        margin-top: 80px;
    }

    #container3 h2 {
        padding-bottom: 24px;
    }

    #container3 ul li {
        width: 30%;
        margin-right: 5%;
        margin-bottom: 40px;
    }
}


/*tablet*/
@media (min-width:700px) and (max-width:999px) {
    #container3 {
        width: 100%;
        padding: 0 10px;
        margin-top: 40px;
    }

    #container3 h2 {
        font-size: 22px;
        padding-bottom: 20px;
    }

    #container3 ul li {
        margin-bottom: 40px;
        width: 32%;
        margin-right: 2%;
    }
}

/*mobile*/
@media (max-width:699px) {
    #container3 {
        width: 100%;
        padding: 0 5px;
        margin-top: 35px;
    }

    #container3 h2 {
        font-size: 20px;
        padding-bottom: 15px;
    }

    #container3 ul li {
        margin-bottom: 30px;
        width: 49%;
        margin-right: 2%;
    }

    #container3 ul li:nth-child(2) {
        margin-right: 0;
    }
}

/*container3 birthday 끝*/

/*container4 annual 패스*/
#container4 {
    overflow: hidden;
    margin: 0 auto;
    box-sizing: border-box;
}

#container4 h2 {
    font-family: 'GongGothicMedium';
    font-weight: bold;
}

#container4 ul {
    width: 100%;
}

#container4 ul li {
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #fff;
    float: left;
}

.bold {
    color: #cb1019;
}

.icon_b {
    width: 100%;
    text-align: center;
    border: 1px solid #dedede;
}

/*pc*/
@media (min-width:1000px) {
    #container4 {
        max-width: 1320px;
        margin-top: 100px;
    }

    #container4 h2 {
        padding-bottom: 24px;
    }

    #container4 ul li {
        width: 30%;
        margin-right: 5%;
        margin-bottom: 40px;
    }

    .annual_b h3 {
        line-height: 32px;
    }

    .icon_b {
        margin-bottom: 15px;
    }
}


/*tablet*/
@media (min-width:700px) and (max-width:999px) {
    #container4 {
        width: 100%;
        padding: 0 10px;
        margin-top: 40px;
    }

    #container4 h2 {
        padding-bottom: 20px;
        font-size: 22px;
    }

    #container4 ul li {
        width: 32%;
        margin-right: 2%;
        margin-bottom: 40px;
    }

    .annual_b h3 {
        line-height: 28px;
    }

    .icon_b {
        margin-bottom: 13px;
    }
}


/*mobile*/
@media (max-width:699px) {
    #container4 {
        width: 100%;
        padding: 0 5px;
        margin-top: 30px;
    }

    #container4 h2 {
        padding-bottom: 15px;
        font-size: 20px;
    }

    #container4 ul li {
        width: 49%;
        margin-right: 2%;
        margin-bottom: 30px;
    }

    #container4 ul li:nth-child(2) {
        margin-right: 0;
    }

    .annual_b h3 {
        font-size: 12px;
        line-height: 22px;
    }

    .icon_b {
        margin-bottom: 10px;
    }
}

/*container4 annual 패스 끝*/

/*container5 express ticket*/
#container5 {
    margin: 0 auto;
    overflow: hidden;
    box-sizing: border-box;
}

#container5 h2 {
    font-family: 'GongGothicMedium';
    font-weight: bold;
}

#container5 ul {
    width: 100%;
}

#container5 ul li {
    float: left;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #fff;
}

.link_th {
    display: block;
    width: 100%;
    text-align: center;
    border: 1px solid #dedede;
    color: #cb1019;
}

/*pc*/
@media (min-width:1000px) {
    #container5 {
        max-width: 1320px;
        margin-top: 100px;
    }

    #container5 h2 {
        padding-bottom: 24px;
    }

    #container5 ul li {
        width: 30%;
        margin-right: 5%;
        margin-bottom: 40px;
    }

    #container5 ul li:nth-child(3) {
        margin-right: 0;
    }

    .link_th {
        padding: 5px 0;
        margin: 10px 0 15px;
    }
}


/*tablet*/
@media (min-width:700px) and (max-width:999px) {
    #container5 {
        width: 100%;
        padding: 0 10px;
        margin-top: 40px;
    }

    #container5 h2 {
        padding-bottom: 20px;
        font-size: 22px;
    }

    #container5 ul li {
        width: 32%;
        margin-right: 2%;
        margin-bottom: 30px;
    }

    #container5 ul li:nth-child(3) {
        margin-right: 0;
    }

    .link_th {
        padding: 3px 0;
        margin: 5px 0 10px;
        font-size: 12px;
    }
}


/*mobile*/
@media (max-width:699px) {
    #container5 {
        width: 100%;
        padding: 0 5px;
        margin-top: 30px;
    }

    #container5 h2 {
        padding-bottom: 15px;
        font-size: 20px;
    }

    #container5 ul li {
        width: 49%;
        margin-right: 2%;
        margin-bottom: 30px;
    }

    #container5 ul li:nth-child(2) {
        margin-right: 0;
    }

    .link_th {
        padding: 2px 0;
        margin-bottom: 10px;
        font-size: 10px;
    }
}

/*container5 익스프레스 끝*/


/*이벤트 sticky*/
.event_title {
    margin: 0 auto;
}

.event_title h2 {
    font-family: 'GongGothicMedium';
    font-weight: bold;
}

#container1 {
    margin: 0 auto;
    box-sizing: border-box;
    flex-direction: row-reverse;
}

.contents {
    position: sticky;
}

/*왼쪽 sticky 이동내용*/
.box {
    border-bottom: 1px solid #ddd;
}

.box h2 {
    text-align: center;
}

.box img {
    display: block;
    width: 100%;
}


.event_detail a {
    display: block;
    border: 1px solid #fcc816;
    border-radius: 5px;
    text-align: center;
}

.event_detail a:hover {
    background-color: #fcc816;
    color: #cb1019;
    font-weight: bold;
}


/*티켓 꾸미기*/
.ticket_name {
    width: 100%;
    height: 100%;
}

.ticket_name li {
    background-color: #fff;
    border-radius: 10px;
    box-sizing: border-box;
}

.ticket_img img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.ticket_detail h3 {
    font-weight: bold;
    color: #0e275e;
}

.ticket_btn {
    border-top: 1px solid #ddd;
}

.ticket_btn a {
    display: block;
    text-align: center;
    border: 1px solid #fcc816;
    border-radius: 10px;
}

.ticket_btn a:hover {
    background-color: #fcc816;
    color: #cb1019;
    font-weight: bold;
}

/*event sticky*/
/*pc*/
@media (min-width:1000px) {
    .event_title {
        max-width: 1320px;
        margin-top: 100px;
    }
    
    .event_title h2 {
        padding-bottom: 24px;
    }

    #container1 {
        max-width: 1320px;
        display: flex;
        margin-bottom: 80px;
    }
    .contents {
        max-width: 77%;
        height: 600px;
        top: 150px;
    }
    .contents1{
        margin-bottom: 80px;
    }

    .aside {
        max-width: 23%;
    }

    /*오른쪽 sticky 이동내용*/
    .box {
        padding: 20px 20px;
    }

    .box h2 {
        font-size: 20px;
        padding-bottom: 15px;
    }

    .event_detail {
        font-size: 14px;
        line-height: 21px;
        padding-top: 15px;
    }

    .event_detail a {
        padding: 10px 0;
        font-size: 16px;
        margin-top: 20px;
    }

    /*티켓 꾸미기*/
    .ticket_name li {
        width: 32%;
        float: left;
        margin-bottom: 40px;
    }

    .ticket_name li:nth-child(2){
        margin-left: 2%;
        margin-right: 2%;
    }

    .ticket_detail {
        padding: 10px 20px;
    }

    .ticket_detail p {
        font-size: 14px;
    }

    .ticket_detail h3 {
        padding: 15px 0;
        line-height: 28px;
    }

    .ticket_btn {
        margin-top: 25px;
    }

    .ticket_btn a {
        float: left;
        width: 46%;
        margin: 15px 2% 20px;
        padding: 10px 0;
    }
}


/*tablet*/
@media (min-width:700px) and (max-width:999px) {
    .event_title {
        width: 100%;
        margin-top: 50px;
        padding: 0 10px;
    }
    
    .event_title h2 {
        font-size: 22px;
        padding-bottom: 20px;
    }

    #container1 {
        width: 100%;
        display: flex;
        margin-bottom: 50px;
    }
    .contents {
        width: 70%;
        height: 1000px;
        top: 100px;
    }
    .contents1{
        margin-bottom: 80px;
    }

    .aside {
        width: 30%;
    }

    /*오른쪽 sticky 이동내용*/
    .box {
        padding: 18px 13px;
    }

    .box h2 {
        font-size: 16px;
        padding-bottom: 10px;
    }

    .event_detail {
        font-size: 12px;
        line-height: 20px;
        padding-top: 13px;
    }

    .event_detail a {
        padding: 8px 0;
        font-size: 14px;
        margin-top: 15px;
    }

    /*티켓 꾸미기*/
    .ticket_name {
        padding-right: 10px;
    }

    .ticket_name li {
        width: 49%;
        float: left;
        margin-bottom: 20px;
    }

    .ticket_name li:nth-child(2) {
        margin-left: 2%;
    }

    .ticket_detail {
        padding: 10px 15px;
    }

    .ticket_detail p {
        font-size: 12px;
        line-height: 20px;
    }

    .ticket_detail h3 {
        padding: 10px 0;
        line-height: 23px;
        font-size: 16px;
    }

    .ticket_btn {
        margin-top: 20px;
    }

    .ticket_btn a {
        float: left;
        width: 46%;
        margin: 13px 2% 18px;
        padding: 10px 0;
        font-size: 13px;
    }
}


/*mobile*/
@media (max-width:699px) {
    .event_title {
        width: 100%;
        margin-top: 30px;
        padding: 0 10px;
    }
    
    .event_title h2 {
        font-size: 20px;
        padding-bottom: 15px;
    }

    #container1 {
        width: 100%;
        display: flex;
    }

    .contents {
        width: 100%;
    }

    .aside {
        display: none;
    }

    /*티켓 꾸미기*/
    .ticket_name {
        padding: 0 5px;
    }

    .ticket_name li {
        margin: 0 10%;
        width: 80%;
        float: left;
        margin-bottom: 30px;
    }

    .ticket_detail {
        padding: 10px 15px;
    }

    .ticket_detail p {
        font-size: 10px;
        line-height: 18px;
    }

    .ticket_detail h3 {
        padding: 8px 0;
        line-height: 21px;
        font-size: 14px;
    }

    .ticket_btn {
        margin-top: 15px;
    }

    .ticket_btn a {
        float: left;
        width: 46%;
        margin: 13px 2% 18px;
        padding: 8px;
        font-size: 12px;
    }
}

/*footer*/
/*pc*/
@media (min-width:1000px) {
    #footer {
        width: 100%;
        margin: 0 auto;
        height: 50px;
        text-align: center;
        font-size: 14px;
        line-height: 20px;
    }
}


/*tablet*/
@media (min-width:700px) and (max-width:999px) {
    #footer {
        width: 100%;
        margin: 0 auto;
        height: 50px;
        text-align: center;
        font-size: 12px;
        line-height: 18px;
    }
}


/*mobile*/
@media (max-width:699px){
    #footer {
        width: 100%;
        margin: 20px auto 0;
        height: 40px;
        text-align: center;
        font-size: 9px;
        line-height: 15px;
    }
}